<p id="notice"><%= notice %></p>
<p>
<%= image_tag @user.avatar.url(:thumb) %>
  <b>Name:</b>
  <%= link_to @user.name, user_path(@user) %>
</p>
<hr />
<%= image_tag @product.attachment.url(:medium) %><br />
<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>
<hr />
<div>
  <h2>Reviews</h2>
  <table id="reviews">
    <% @reviews.each do |review| %>
      <%= render 'reviews/review', review: review %>
    <% end %>
  </table>
</div>

<% if user_signed_in? && !@product.is_owner?(current_user.id) %>

  <%= form_for [@product, @review], remote: true do |f| %>
    <div class="field">
      <%= f.label 'Write your review' %><br />
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% end %>
<hr />

<%= link_to 'Back', products_path %>
