<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-12 col-md-10">
    <div class="row">
      <div class="col-xs-8 col-md-6">
        <div class="product-info">
          <%= image_tag @product.attachment.url(:medium) %><br />
          <p><strong>Title:</strong><%= @product.title %></p>
          <p><strong>Description:</strong><%= @product.description %></p>
          <p><strong>Price:</strong><%= @product.price %></p>
        </div>
      </div>
      <div class="col-xs-8 col-md-6 order-buttons">
        <button class="btn-danger">Buy Now</button>
        <button class="btn-danger" href="orders_path">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-2">
    <div class="user-profile">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag @user.avatar.url(:thumb) %>
        </div>
        <div class="col-md-6">
          <strong>Product By: </strong><br />
          <%= link_to @user.name, user_path(@user) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reviews">
  <h2>Reviews:</h2>
  <div id="reviews">
    <% @reviews.each do |review| %>
      <%= render 'reviews/review', review: review %>
    <% end %>
  </div>
</div>

<br />

<% if user_signed_in? && !@product.is_owner?(current_user.id) %>
  <div>
    <h3>Add your Review:</h3>
    <%= form_for [@product, @review], remote: true do |f| %>
      <div class="field">
        <%= f.label 'Write your review' %><br />
        <%= f.text_area :description %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
<% end %>

<hr />

<%= link_to 'Back', products_path %>
